.checkbox-toggle {

  &__content {
    display: none;
  }

  &__label {
    position: relative;
    display: block;
    text-align: right;
    color: $color--secondary;
    font-size: 0.8rem;

    &:hover {
      cursor: pointer;
    }

    &.anchor {
      box-shadow: none;
    }
  }

  &__checkbox {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: -9999;
    left: -100%;

    &:focus {
      ~ .item__actions .checkbox-toggle__label {
        outline: auto 5px -webkit-focus-ring-color;
      }
    }

    &:checked {
      ~ .checkbox-toggle__content {
        display: block;
      }

      ~ .item__actions .checkbox-toggle__label-text {
        &--open {
          display: none;
        }

        &--close {
          display: flex;
        }
      }
    }
  }
}

.checkbox-toggle__label-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 2px;

  @media (min-width: $breakpoint--large) {
    text-align: center;
  }

  &--close {
    display: none;
  }
}
