.see-more {
  &__content {
    margin: 0.5rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5rem;
  }

  &__label {
    position: relative;
    display: block;
    text-align: right;
    color: $color--accent;
    font-size: 0.8rem;
    margin-right: 2rem;

    &:hover {
      cursor: pointer;
    }

    &:before,
    &:after {
      position: absolute;
      right: 0;
      top: 0;
      transform: translatex(100%);
      font-size: 0.8rem;
    }

    &:before {
      content: 'more';
    }

    &:after {
      content: 'less';
      display: none;
    }
  }

  &__checkbox {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: -9999;
    bottom: -100%;
    left: -100%;

    &:focus {
      ~ .actions .see-more__label {
        outline: auto 5px -webkit-focus-ring-color;
      }
    }

    &:checked {
      ~ .see-more__content {
        white-space: normal;
      }

      ~ .actions .see-more__label {

        &:before {
          display: none;
        }

        &:after {
          display: block;
        }
      }
    }
  }
}
