// Packages
// @import '../../node_modules/reset-css/reset';
// @import 'packages/icomoon';

// @import 'utilities/functions';

// @import 'theme/default';

// @import 'base/base';
// @import 'layout/nav';
// @import 'layout/wrapper';
// @import 'layout/footer';
// @import 'module/icons';

body {
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
}
a {
  text-decoration: none;
  color: #AA00FF;
  font-style: italic;
}
a:visited {
  color: #AA00FF;
}
a:hover {
  text-decoration: underline;
}
.guy {
  width: 6em;
  display: inline-block;
}
.sparkles {
  width: 6em;
  margin-right: 5px;
  display: inline-block;
  text-align: center;
}
