.container {
  box-sizing: border-box;
  max-width: $breakpoint--large;
  margin: 0 auto;

  border-radius: 2px;
  background-color: $color--offwhite;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08);
  animation: fadeIn .8s forwards;

  @media (min-width: $breakpoint--xlarge) {
    max-width: calc(#{$breakpoint--large} + 20vw);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9925);
  }
}
