@import '../globals';

.section {

  &__content {
    padding: $section-padding--small;

    @media (min-width: $breakpoint--large) {
      padding: $section-padding--large;
    }
  }

  &__heading {
    margin-top: 0;

    &--padding {
      padding: 2rem 1rem 1rem;

      @media (min-width: $breakpoint--large) {
        padding: 2rem;
      }
    }
  }

  &--hero {
    background-color: $color--accent;
    background: linear-gradient(
      153deg,
      rgba(179, 239, 245, 0.75) 50%,
      rgba(212, 242, 209, 0.75) 100%
    );

    h1 {
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 2.2rem;
    }
  }

  &--main {
    background-color: $color--white;
    background-image: url('img/ricepaper.png');
    background-size: 400px 400px;

    @media (max-width: $breakpoint--large) {
      padding: 0;
    }

    li {
      padding: 0 0 1rem;
    }
  }

  &--footer {
    color: $color--offwhite;
    background-color: $color--accent-dark;

    ul {
      padding: 0;
    }

    li {
      display: flex;
      align-items: center;
      padding: 0.25rem 0;
    }
  }
}
