@import 'globals';
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,800|Open+Sans');

$heading-font-stack: 'Montserrat', 'Courier New', Courier, monospace;
$display-font-stack: 'Open Sans', Helvetica, sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-stack
}

.subheading {
  font-family: $heading-font-stack;
  font-weight: 500;
}

body {
  font-family: $display-font-stack;
}


* {
  box-sizing: border-box;
}

html {
  @media (min-width: $breakpoint--large) {
    font-size: 1.2em;
  }

  @media (min-width: $breakpoint--xlarge) {
    font-size: 1.4em;
  }
}

body {
  margin: 0;

  color: $color--offblack;
  background-color: $color--offwhite;
  background-image: url('img/background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  line-height: 1.5;

  @media (min-width: $breakpoint--xlarge) {
    margin: 1rem;
  }
}
