@import 'globals';
@import url('https://fonts.googleapis.com/css?family=Montserrat:800|Open+Sans:400,600');

$heading-font-stack: 'Montserrat', 'montserrat', 'Source Sans', 'Helvetica Neue',
  Helvetica, 'Arial Black', Arial, sans-serif;
$display-font-stack: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;

html {
  box-sizing: border-box;

  @media (min-width: $breakpoint--large) {
    font-size: 1.125em;
  }

  @media (min-width: $breakpoint--xlarge) {
    font-size: 1.25em;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;

  color: $color--offblack;
  font-family: $display-font-stack;
  background-color: $color--offwhite;
  background-image: url('img/background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  line-height: 1.5;

  @media (min-width: $breakpoint--xlarge) {
    margin: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-stack;
}

p {
  margin: 1.5rem 0;
  line-height: 1.58;
  letter-spacing: -.004rem;
}
