$color--accent: #0097a7;
$color--accent-dark: #00838f;
$color--secondary: #E34A6F;
$color--white: #ffffff;
$color--offwhite: #fcfcfc;
$color--offwhite-2: #f7f7f7;
$color--offblack: #2a2a2a;
$color--gray: #7a7a7a;
$color--light-gray: #bababa;
$breakpoint--large: 750px;
$breakpoint--xlarge: 1250px;
$section-padding--small: 2rem 1rem;
$section-padding--large: 2.5rem 2rem 2rem;
