@import 'globals';

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,800|Open+Sans');

$heading-font-stack: 'Montserrat', 'Courier New', Courier, monospace;
$display-font-stack: 'Open Sans', Helvetica, sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-stack
}

.subheading {
  font-family: $heading-font-stack;
  font-weight: 500;
}

body {
  font-family: $display-font-stack;
}
